<app-canvas class="container" #canvas [width]="canvasWidth" [heigth]="canvasHeigth">
  <ng-container *ngIf="isRectangleCreated">
    
    <svg:rect class="border-gradient" [attr.x]="rectangle.getX()" [attr.y]="rectangle.getY()"
      [attr.width]="rectangle.getWidth()" [attr.height]="rectangle.getHeigth()"></svg:rect>

    <svg:text *ngIf="rectangle.x1 < rectangle.x2; else elseBlock" stroke="white" [attr.x]="rectangle.getX()"
      [attr.y]="rectangle.getY()" class="small">
      Perimeter: {{ perimeter }}
    </svg:text>

    <ng-template #elseBlock>
      <svg:text [attr.x]="rectangle.getX()" [attr.y]="rectangle.getY()" stroke="white" class="small">
        Perimeter: {{ perimeter }}
      </svg:text>
    </ng-template>
  </ng-container>
</app-canvas>